version: "3.8"

services:
  hismedfront:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hismedfront
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
