<div class="p-3">
  <!-- <div [hidden]="hidden()"> -->
      <div [hidden]="viewMode() !== 'table'">

    <app-reusable-material-table
      [columns]="columns"
      [data]="doctors()"
      [totalCount]="total()"
      title="doctor"
      [pageSize]="pageSize()"
      (pageChange)="onPageChange($event)"
      (filterChange)="onFilterChange($event)"
      (sortChange)="onSortChange($event)"
      (editRow)="handleEdit($event)"
      (deleteRow)="handleDelete($event)"
      (onFirstCellClickChange)="handleSingleUserNavigation($event)"
      (onAddNewChange)="handleAddNew()"
    >
    </app-reusable-material-table>
  </div>
  <div>
    <!-- <app-doctor-form [hidden]="!hidden()" (cancalEvent)="onCancal()" [oid]="oid"/> -->
         <app-doctor-form [hidden]="viewMode() !== 'doctorForm'"
          (cancalEvent)="onCancal()"
          [oid]="oid"
          (addWorkingDay)="addWorkingDay()"
          (editScheduleEmitter)="onEditSchedule($event)"/>

  </div>
   <div>
      <app-doctor-schedule-form [hidden]="viewMode() !== 'scheduleForm'" (cancalEvent)="onCancelSchedule()" [oid]="scheduleOid"/>
  </div>
</div>
