<!--

<div class="dayCard p-3">

  <div class="d-flex justify-content-between align-items-center mb-2">
    <h6 class="mb-0 fw-semibold">
      {{ schedule().dayOfWeekNameEn }}
    </h6>

    <div class="d-flex gap-2">
      <button class="btn btn-sm btn-outline-primary"
      (click)="editSchedule.emit(schedule())"
>
        <i class="bi bi-pencil"></i>
      </button>

      <button class="btn btn-sm btn-outline-danger"
        (click)="deleteSchedule.emit(schedule())"
>
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <div class="d-flex align-items-center mb-2 text-muted">
    <i class="bi bi-clock"></i>
    <span class="ms-2">
      {{ formatTo12Hour(schedule().startTime) }} -
      {{ formatTo12Hour(schedule().endTime) }}
    </span>
  </div>

  <div class="d-flex align-items-center text-muted">
    <i class="bi bi-stopwatch"></i>
    <span class="ms-2">
      {{ schedule().slotDurationMinutes }} Minutes
    </span>
  </div>

</div> -->



<div class="dayCard h-100 p-3">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="mb-0 fw-semibold">
      {{ dayName() }}
    </h6>
  </div>

  <!-- Slots -->
  @for(slot of slots();let i = $index; track slot.oid){
  <div  class="slotRow d-flex justify-content-between align-items-center mb-2">
    <!-- VIEW MODE -->
    @if(editingSlotId() != slot.oid){
   <div class="d-flex align-items-center gap-1">
        <div class="text-muted">
          <i class="bi bi-clock pe-1"></i>
          {{ formatTo12Hour(slot.startTime) }} -
          {{ formatTo12Hour(slot.endTime) }}
        </div>

        <span>-</span>

        <div class="d-flex align-items-center text-muted">
          <i class="bi bi-stopwatch"></i>
          <span class="ms-1">
            {{ slot.slotDurationMinutes }} Minutes
          </span>
        </div>
      </div>

      <div class="d-flex gap-2">

        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="startEdit(slot)"
        >
          <i class="bi bi-pencil"></i>
        </button>

        <button
          type="button"
          class="btn btn-sm btn-outline-danger"
          (click)="deleteSchedule.emit(slot)"
        >
          <i class="bi bi-trash"></i>
        </button>

      </div>
    }@else{

      <div class="d-flex gap-2 align-items-center">

        <input
          type="time"
          class="form-control form-control-sm"
          [(ngModel)]="slot.startTime"
        />



        <input
          type="time"
          class="form-control form-control-sm"
          [(ngModel)]="slot.endTime"
        />

        <input
          type="number"
          class="form-control form-control-sm"
          style="width:80px"
          [(ngModel)]="slot.slotDurationMinutes"
        />

      </div>

      <div class="d-flex gap-2">

        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="saveEdit(slot)"
        >
          ✔
        </button>

        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="cancelEdit()"
        >
          ✖
        </button>

      </div>
    }




  </div>
   }


</div>



<!--
<div class="dayCard p-3">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="mb-0 fw-semibold">
      {{ dayName() }}
    </h6>
  </div>

  <div *ngFor="let slot of slots()" class="slotRow d-flex justify-content-between align-items-center mb-2">

    <div class="d-flex align-items-center gap-1">
      <div class="text-muted">
      <i class="bi bi-clock pe-1"></i>
      {{ formatTo12Hour(slot.startTime) }} -
      {{ formatTo12Hour(slot.endTime) }}
    </div>
     <span>-</span>
     <div class="d-flex align-items-center text-muted">
      <i class="bi bi-stopwatch"></i>
      <span class="ms-1">
        {{ slot.slotDurationMinutes }} Minutes
      </span>
    </div>
    </div>

    <div class="d-flex gap-2">

      <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        (click)="editSchedule.emit(slot)"
      >
        <i class="bi bi-pencil"></i>
      </button>

      <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        (click)="deleteSchedule.emit(slot)"
      >
        <i class="bi bi-trash"></i>
      </button>

    </div>

  </div>

</div> -->
