<!-- <div class="col-12"
>
  <form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column gap-4 p-3"
  class="row g-2">
       <div class="col-12 col-md-6 col-xl-3">
      <spk-ng-select
        formControlName="doctorId"
        label="Doctor"
        [options]="doctors()"
        bindLabel="username"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Doctor"
        selectClass="form-control"
      />
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <spk-ng-select
        formControlName="dayOfWeekId"
        label="Working Day"
        [options]="$any((weekDays$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Working Day"
        selectClass="form-control"
      />
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <spk-ng-select
        formControlName="startTime"
        label="Start Time"
        [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose Start Time"
        selectClass="form-control"
      />
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <spk-ng-select
        formControlName="endTime"
        label="End Time"
        [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose End Time"
        selectClass="form-control"
      />
    </div>
      <div class="col-12 col-md-6 col-xl-3">
      <spk-ng-select
        formControlName="slotDurationMinutes"
        label="Slot Duration"
        [options]="$any((slotDurations$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose Slot Duration"
        selectClass="form-control"
      />
    </div>
    <div class="col-12 ">
    <div class="d-flex justify-content-end gap-2">
    <app-button btnLabel="Cancel" [mainBtn]="false" (click)="cancel()" />
    <app-button btnLabel="Add Day" buttonType="submit" />
  </div>
</div>
  </form>
</div> -->

<!-- <form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column gap-3"
>
<div [ngClass]="{ 'card custom-card': !schedule() && !new() }">
    <div class="card-header d-flex justify-content-between align-items-center">
      @if (!schedule() && !new()) {
        <h6 class="mb-0">Working Hours</h6>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          (click)="addWorkingHour()"
        >
          Add Working Day
        </button>
      }
    </div>

    <div
      class="card-body"
      [class.py-0]="schedule() || new()"
      formArrayName="workingHours"
    >
    <div class="border rounded p-3">
<div
        [class.dayBorder]="new()"
        class=" mb-3"
        *ngFor="let item of workingHours.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row g-2">
          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="doctorId"
              label="Doctor"
              [options]="doctors()"
              bindLabel="username"
              bindValue="oid"
              placeholder="Choose Doctor"
              selectClass="form-control"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="dayOfWeekId"
              label="Working Day"
              [options]="$any((weekDays$ | async)?.lookupDetails ?? [])"
              bindLabel="valueNameEn"
              bindValue="oid"
              placeholder="Choose Working Day"
              selectClass="form-control"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="startTime"
              label="Start Time"
              [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
              bindLabel="valueNameEn"
              bindValue="valueNameEn"
              placeholder="Choose Start Time"
              selectClass="form-control"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="endTime"
              label="End Time"
              [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
              bindLabel="valueNameEn"
              bindValue="valueNameEn"
              placeholder="Choose End Time"
              selectClass="form-control"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="slotDurationMinutes"
              label="Slot Duration"
              [options]="$any((slotDurations$ | async)?.lookupDetails ?? [])"
              bindLabel="valueNameEn"
              bindValue="valueNameEn"
              placeholder="Choose Slot Duration"
              selectClass="form-control"
            />
          </div>
        </div>

        @if (!schedule() ) {
          <div class="d-flex justify-content-end mt-2">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="removeWorkingHour(i)"
            >
              Remove
            </button>
          </div>
        }
      </div>
          <div class="d-flex justify-content-end gap-2">
            @if(schedule() || new()){
    <app-button
              btnLabel="Cancel"
              [mainBtn]="false"
              (click)="cancel()"
            />
            }


            @if(schedule()){
            <app-button btnLabel="Update" buttonType="submit" />
            }
              @if(new()){
           <app-button btnLabel="Add another" (click)="addWorkingHour()" />
            <app-button btnLabel="Add All" buttonType="submit" />
            }
          </div>

    </div>

    </div>
  </div>

  @if (!schedule() && !new()) {
    <div class="d-flex justify-content-end gap-2">
      <app-button btnLabel="Cancel" [mainBtn]="false" (click)="cancel()" />

      <app-button btnLabel="Save Schedule" buttonType="submit" />
    </div>
  }
</form> -->

<form
  [formGroup]="form"
  (ngSubmit)="addSchedule()"
  class="d-flex flex-column gap-3"
>
  @if (showTitle()) {
    <div class="card custom-card">
      <div class="card-header">
        <h6 class="mb-0">Clinic Information</h6>
      </div>

      <div class="card-body">
        <div class="row g-3">
          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="branchId"
              label="Branch"
              [options]="branches()"
              bindLabel="name"
              bindValue="oid"
              placeholder="Choose Branch"
              selectClass="form-control"
            />
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="specialityId"
              label="Speciality"
              [options]="specialities()"
              bindLabel="nameEn"
              bindValue="oid"
              placeholder="Choose Speciality"
              selectClass="form-control"
            />
          </div>

          @if (!doctor()?.oid) {
            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="clinicNumber"
                label="Clinic Number"
                [options]="clinicNumbers"
                bindLabel="name"
                bindValue="oid"
                placeholder="Choose Clinic Number"
                selectClass="form-control"
              />
            </div>
          }

          <div class="col-12 col-md-6 col-xl-3">
            <spk-ng-select
              formControlName="doctorId"
              label="Doctor"
              [options]="doctors()"
              bindLabel="username"
              bindValue="oid"
              placeholder="Choose Doctor"
              selectClass="form-control"
            />
          </div>

          @if (!doctor()?.oid) {
            <div class="col-12 col-md-6 col-xl-3">
              <spk-flatpickr
                formControlName="startDate"
                [enableTime]="true"
                [dateFormat]="'Y-m-d H:i'"
                placeholder="Choose Start Date"
                label="Start Date"
              ></spk-flatpickr>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <spk-flatpickr
                formControlName="endDate"
                [enableTime]="true"
                [dateFormat]="'Y-m-d H:i'"
                placeholder="Choose End Date"
                label="End Date"
              ></spk-flatpickr>
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="statusId"
                label="Status"
                [options]="$any((scheduleStatus$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                [multiple]="false"
                bindValue="oid"
                placeholder="Choose Status"
                selectClass="form-control"
              />
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="isActive"
                label="Active"
                [options]="$any((activeStatus$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                [multiple]="false"
                bindValue="valueNameEn"
                placeholder="Choose Active Status"
                selectClass="form-control"
              />
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="isPriority"
                label="Priority"
                [options]="$any((pirorityStatus$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                [multiple]="false"
                bindValue="valueNameEn"
                placeholder="Choose Priority"
                selectClass="form-control"
              />
            </div>
          }
        </div>
      </div>
    </div>
  }

  <div [ngClass]="{ 'card custom-card': showTitle() }">
    <div class="card-header d-flex justify-content-between align-items-center">
      @if (showTitle()) {
        <h6 class="mb-2">Working Hours</h6>
      }
    </div>

    <div class="card-body py-3">
      <div class="border rounded p-3">
        <div class="mb-3">
          <div class="row g-2">
            <div class="col-12">
              <spk-ng-select
                formControlName="dayOfWeekId"
                label="Working Day"
                [options]="weekDaysSnapshot"
                bindLabel="valueNameEn"
                [multiple]="true"
                bindValue="oid"
                placeholder="Choose Working Day"
                selectClass="form-control"
              />
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="startTime"
                label="Start Time"
                [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                bindValue="valueNameEn"
                placeholder="Choose Start Time"
                selectClass="form-control"
              />
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="endTime"
                label="End Time"
                [options]="$any((workingHours$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                bindValue="valueNameEn"
                placeholder="Choose End Time"
                selectClass="form-control"
              />
            </div>

            <div class="col-12 col-md-6 col-xl-3">
              <spk-ng-select
                formControlName="slotDurationMinutes"
                label="Slot Duration"
                [options]="$any((slotDurations$ | async)?.lookupDetails ?? [])"
                bindLabel="valueNameEn"
                bindValue="valueNameEn"
                placeholder="Choose Slot Duration"
                selectClass="form-control"
              />
            </div>
            @if (doctor() && doctor()?.oid) {
                <div class="col-12 col-md-6 col-xl-3">
                  <spk-ng-select
                    formControlName="clinicNumber"
                    label="Clinic Number"
                    [options]="clinicNumbers"
                    bindLabel="name"
                    bindValue="oid"
                    placeholder="Choose Clinic Number"
                    selectClass="form-control"
                  />
                </div>
              <div class="col-12 col-md-6 col-xl-3">

                <spk-flatpickr
                  formControlName="startDate"
                  [enableTime]="true"
                  [dateFormat]="'Y-m-d H:i'"
                  placeholder="Choose Start Date"
                  label="Start Date"
                ></spk-flatpickr>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <spk-flatpickr
                  formControlName="endDate"
                  [enableTime]="true"
                  [dateFormat]="'Y-m-d H:i'"
                  placeholder="Choose End Date"
                  label="End Date"
                ></spk-flatpickr>
              </div>

              <div class="col-12 col-md-6 col-xl-3">
                <spk-ng-select
                  formControlName="statusId"
                  label="Status"
                  [options]="
                    $any((scheduleStatus$ | async)?.lookupDetails ?? [])
                  "
                  bindLabel="valueNameEn"
                  [multiple]="false"
                  bindValue="oid"
                  placeholder="Choose Status"
                  selectClass="form-control"
                />
              </div>

              <div class="col-12 col-md-6 col-xl-3">
                <spk-ng-select
                  formControlName="isActive"
                  label="Active"
                  [options]="$any((activeStatus$ | async)?.lookupDetails ?? [])"
                  bindLabel="valueNameEn"
                  [multiple]="false"
                  bindValue="valueNameEn"
                  placeholder="Choose Active Status"
                  selectClass="form-control"
                />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <spk-ng-select
                  formControlName="isPriority"
                  label="Priority"
                  [options]="
                    $any((pirorityStatus$ | async)?.lookupDetails ?? [])
                  "
                  bindLabel="valueNameEn"
                  [multiple]="false"
                  bindValue="valueNameEn"
                  placeholder="Choose Priority"
                  selectClass="form-control"
                />
              </div>
            }
          </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
          <button type="submit" class="btn btn-sm btn-outline-primary">
            Add Working Day
          </button>
        </div>
      </div>

      <div class="row g-3 mt-3">
        @for (group of groupedSchedules() | keyvalue; track group.key) {
          <div class="col-md-6 col">
            <app-working-day-card
              [dayName]="group.key"
              [slots]="group.value"
              [editingSlotId]="editingSlotId()"
              (startingEdit)="startEdit($event)"
              (editSchedule)="editSchedule($event)"
              (deleteSchedule)="deleteSchedule($event)"
            />
          </div>
        }
      </div>
    </div>
  </div>
  @if (showTitle()) {
    <div class="d-flex justify-content-end gap-2">
      <app-button btnLabel="Cancel" [mainBtn]="false" (click)="cancel()" />
      <app-button btnLabel="Save Schedule" (click)="saveSchedule()" />
    </div>
  }
</form>
