<div class="p-3">
  <div [hidden]="hidden()">
    <app-reusable-material-table
      [columns]="columns"
      [data]="appointments()"
      [totalCount]="total()"
      [pageSize]="pageSize()"
            title="appointment"

      (pageChange)="onPageChange($event)"
      (filterChange)="onFilterChange($event)"
      (sortChange)="onSortChange($event)"
      (editRow)="handleEdit($event)"
      (deleteRow)="handleDelete($event)"
      (onFirstCellClickChange)="handleSingleUserNavigation($event)"
      (onAddNewChange)="handleAddNew()"
    >
    </app-reusable-material-table>
  </div>
  <div>
    <app-appointment-form [hidden]="!hidden()" (cancalEvent)="onCancal()" [oid]="oid"/>
  </div>
</div>
