<!-- src\app\Hospital\Components\Appointments\appotntment-form\appotntment-form.component.html -->
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column gap-4 p-3"
>
  <div class="row flex-wrap gy-2">
    <div class="col-lg-3">
      <spk-ng-select
        formControlName="patientId"
        label="Patient Id"
        [options]="patients()"
        bindLabel="fullNameEn"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Patient"
        selectClass="form-control"
      />
    </div>
    <div class="col-lg-3">
      <spk-ng-select
        formControlName="doctorId"
        label="Doctor Id"
        [options]="doctors()"
        bindLabel="doctorFullName"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Doctor"
        selectClass="form-control"
      />
    </div>
    <div class="col-lg-3">
      <spk-flatpickr
        formControlName="appointmentDate"
        [enableTime]="true"
        [dateFormat]="'Y-m-d H:i'"
        placeholder="Choose Date"
        label="Appointment Date"
      ></spk-flatpickr>
    </div>
    <div class="col-lg-3">
     <spk-ng-select
        formControlName="appointmentType"
        label="Appointment Type"
        [options]="$any((appointmentTypes$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose Status"
        selectClass="form-control"
      />
    </div>
    <div class="col-lg-3">
      <spk-ng-select
        formControlName="status"
        label="Appointment Status"
        [options]="$any((appointmentStatues$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose Status"
        selectClass="form-control"
      />
    </div>
    <div class="col-lg-3">
      <spk-ng-select
        formControlName="branchId"
        label="Branch Id"
        [options]="$any(branches())"
        bindLabel="name"
        bindValue="oid"
        [multiple]="false"
        placeholder="Choose Branch"
        selectClass="form-control"
      />
    </div>
    <div class="col-lg-3">
        <spk-ng-select
        formControlName="reason"
        label="Reason"
        [options]="$any((appointmentReasons$ | async)?.lookupDetails ?? [])"
        bindLabel="valueNameEn"
        bindValue="valueNameEn"
        [multiple]="false"
        placeholder="Choose Reason"
        selectClass="form-control"
      />
      <!-- <app-input
        formControlName="reason"
        label="Reason"
        type="text"
        placeholder=""
        icon="bi bi-card-text"
        [errorMessages]="{
          required: 'Reason is required',
          backendError: apiFieldErrors['reason'],
        }"
      /> -->
    </div>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <app-button btnLabel="Cancel" [mainBtn]="false" (click)="cancel()" />
    <app-button btnLabel="Save Appointment" buttonType="submit" />
  </div>
</form>
